PORT=4000
NODE_ENV=development

MYSQL_ROOT_PASSWORD=Root12345!
MYSQL_DATABASE=restauranteDB
MYSQL_USER=appuser
MYSQL_PASSWORD=App12345!

DB_HOST=db
DB_PORT=3306
DB_USER=appuser
DB_PASSWORD=App12345!
DB_NAME=restauranteDB

JWT_SECRET=changeme