#########################
# Node / Dependencias
#########################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# (Opcional) Ignorar lockfiles adicionales, comenta si quieres forzar consistencia
# pnpm-lock.yaml
# package-lock.json

#########################
# Variables de entorno
#########################
.env
.env.local
.env.*.local

#########################
# SO / Editor
#########################
.DS_Store
Thumbs.db
.vscode/
.idea/

#########################
# Builds / Coverage
#########################
dist/
build/
coverage/

#########################
# Otros
#########################
*.pid

# Do not commit local secrets
stripe.txt